---
import MainLayout from '@layouts/MainLayout.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Clientes y Trabajos</title>
    </head>
    <body>
        <MainLayout>
            <h1>Clientes y trabajos</h1>
        </MainLayout>
    </body>
</html>
