---
import MainLayout from '@layouts/MainLayout.astro'

import SectionContainer from '@components/SectionContainer.astro'
import SectionNosotros from '@components/SectionNosotros.astro'
import Nosotros from '@components/Nosotros.astro'
import Inicio from '@components/Inicio.astro'
import Services from '@components/Services.astro'
import SectionServices from '@components/SectionServices.astro'
import Skills from '@components/Skills.astro'
import SectionSkills from '@components/SectionSkills.astro'
import SectionContacto from '@components/SectionContacto.astro'
import Contacto from '@components/Contacto.astro'
---

<MainLayout title="AlphaTech" descripcion="">
    <main class="flex-grow">
        <SectionContainer class="py-40 pb-24" id="inicio">
            <Inicio />
        </SectionContainer>

        <SectionNosotros id="nosotros">
            <Nosotros />
        </SectionNosotros>

        <SectionServices id="servicios">
            <Services />
        </SectionServices>

        <SectionSkills id="habilidades">
            <Skills />
        </SectionSkills>

        <SectionContacto id="contacto">
            <Contacto />
        </SectionContacto>
    </main>
</MainLayout>

<script>
    import { observeCards } from 'src/animations/animations'

    observeCards()
</script>
