---
import MainLayout from '@layouts/MainLayout.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Alpha Tech</title>
    </head>
    <body>
        <MainLayout>
            <section
                class="flex justify-center items-center bg-gray-600 h-[860px]"
            >
                <h1>Inicio</h1>
            </section>
            <section>
                <h1>Mision y Vision</h1>
            </section>
            <section></section>
        </MainLayout>
    </body>
</html>
