<div
class="w-full max-w-[800px] mt-20 lg:flex lg:flex-col lg:justify-center lg:items-center lg:h-screen px-4 sm:px-6 md:px-8"
>
<h1 class="text-center lg:mb-4 text-4xl font-extrabold text-gray-900 dark:text-blue-950 md:text-5xl lg:text-6xl">
    <span class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-blue-600"
    >CONTACTANOS</span>
</h1>

    <form
        class="mt-10 flex flex-col w-full max-w-[90%] md:max-w-[90%] lg:max-w-[90%] bg-white dark:bg-gray-800 rounded-lg p-6 md:p-10 mx-auto"
        action="#"
    >
        <div class="mb-5">
            <label
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                for="nombre">Nombre completo:</label
            >
            <input
                class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                type="text"
                id="nombre"
                name="nombre"
            />
        </div>
        <div class="mb-5">
            <label
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                for="nombre">Email:</label
            >
            <input
                class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                type="text"
                id="email"
                name="email"
            />
        </div>
        <div class="mb-5">
            <label
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                for="nombre">Telefono:</label
            >
            <input
                class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                type="text"
                id="telefono"
                name="telefono"
            />
        </div>
        <div class="mb-5">
            <label
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                for="nombre">Mensaje:</label
            >
            <textarea
                id="message"
                rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Mensaje"></textarea>
        </div>
        <div class="flex justify-center mt-6">
            <button
                class="w-full h-14 text-xl text-white bg-blue-700 hover:bg-blue-800 rounded-md"
                type="submit"
            >
                Contactar
            </button>
        </div>
    </form>
</div>
