---

---

<form
    class="flex flex-col justify-start bg-black w-[500px] h-[600px] text-start text-white rounded-md gap-4 p-10"
    action=""
>
    <div class="text-center text-3xl">
        <h1>Formulario de contacto</h1>
    </div>

    <label for="name">Nombre</label>
    <input
        class="outline-none bg-transparent border-b-2 focus:border-red-600"
        type="text"
        id="name"
    />

    <label for="email">Email</label>
    <input
        class="outline-none bg-transparent border-b-2 focus:border-red-600"
        type="text"
        id="email"
    />

    <label for="nro_telefono">Numero de telefono</label>
    <input
        class="outline-none bg-transparent border-b-2 focus:border-red-600"
        type="text"
        id="nro_telefono"
    />

    <label for="message">Mensaje</label>
    <textarea class="outline-none h-[100px]" id="message"></textarea>

    <div class="flex justify-center w-full">
        <button
            class="bg-green-700 hover:bg-green-600 w-[100px] rounded-md p-2"
            type="submit">Enviar</button
        >
    </div>
</form>
