---

---

<section class="flex justify-around items-center h-[600px]">
    <div class=""><h1>Contacto</h1></div>
    <div class=""><h1>Servicios</h1></div>
    <div class=""><h1>Sobre nosotros</h1></div>
</section>
