---

---

<nav
    class="flex justify-around items-center w-full h-full bg-black text-3xl text-white"
>
    <div>
        <a href="/">Alpha Tech</a>
    </div>
    <ul class="flex justify-center items-center gap-10">
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/services">Servicios</a>
        </li>
        <li>
            <a href="/clients-works">Clientes y Trabajos</a>
        </li>
        <li>
            <a href="/technologies">Tecnologias</a>
        </li>
        <li>
            <a href="/contact">Contacto</a>
        </li>
        <li>
            <a href="/about">A cerca de</a>
        </li>
    </ul>
</nav>
