---
const { class: className, id } = Astro.props
---

<section id={id} class={`bg-blue-950 h-[1800px] lm:h-[800px] md:h-[800px] flex flex-col justify-center items-center ${className}`}>
    <slot />
</section>
