---
const { class: className, id } = Astro.props
---

<section
    id={id}
    class={`w-full max-w-[800px] mx-auto min-h-[250px] md:h-[700px] flex justify-center items-center ${className}`}
>
    <slot />
</section>
