---
const { class: className, id } = Astro.props
---

<section
    id={id}
    class={`bg-white bg-cover bg-center h-[800px] sm:h-[1200px] md:h-[900px] mx-auto flex flex-col justify-center items-center ${className}`}
>
    <slot />
</section>
