---
const { class: className, id } = Astro.props
---

<section
    id={id}
    class={`flex flex-col justify-center items-center w-full max-w-[100%] mx-auto min-h-[100%] md:h-[750px] ${className}`}
>
    <slot />
</section>
