---
interface Props {
    img: ImageMetadata
    titulo: string
    description: string
}

const { img, titulo, description } = Astro.props
---

<div class="max-w-sm p-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-center">
    <div class="grid place-items-center">
        <img class="text-center object-cover w-full rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src={img.src} alt="">
    </div>
    <p>
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">{titulo}</h5>
    </p>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">{description}</p>
</div>
