---
import SkillItem from './SkillItem.astro'

import proyecto1 from '@images/proyecto1.webp'
import proyecto2 from '@images/proyecto2.webp'
import java from '@images/java.webp'
import laravel from '@images/laravel.webp'

interface Language {
    img: ImageMetadata
    name: string
    description: string
    technologies: string[]
}

const icons: Array<Language> = [
    {
        img: proyecto1,
        name: 'Astro',
        description:
            'Para las landing pages que hemos desarrollado para algunas empresas, utilizamos Astro para dise침ar interfaces visualmente atractivas y altamente optimizadas en cuanto a rendimiento.',
        technologies: ['Landing Pages', 'Sitios Webs', 'Blogs'],
    },
    {
        img: proyecto2,
        name: 'Flutter',
        description:
            'Con una sola base de c칩digo en Dart, utilizamos Flutter para crear apps para iOS y Android, aprovechando el mismo dise침o, widgets y l칩gica.',
        technologies: ['Aplicaciones Moviles', 'Android', 'iOS'],
    },
    {
        img: java,
        name: 'Java',
        description:
            'Ofrecemos desarrollo de aplicaciones de escritorio en Java, brindando soluciones seguras y eficientes para empresas y usuarios finales, garantizando estabilidad y escalabilidad en cada proyecto.',
        technologies: ['Apps de Escritorio', 'Windows', 'Mac'],
    },
    {
        img: laravel,
        name: 'Laravel',
        description:
            'Desarrollamos aplicaciones web robustas y escalables con Laravel, ofreciendo soluciones personalizadas que se adaptan a las necesidades de tu negocio, impulsando la presencia y el crecimiento digital de tu empresa.',
        technologies: ['Apps Web', 'E-commerce', 'Sistemas de gestion'],
    },
]
---

<h1
    class="mt-2 text-center mb-8 lg:mb-10 text-3xl sm:text-4xl md:text-5xl font-extrabold text-gray-900 dark:text-blue-950"
>
    <span
        class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-blue-600"
    >
        HABILIDADES
    </span>
</h1>

<div class="grid grid-cols-1 md:grid-cols-4 gap-2">
    {
        icons.map(({ img, name, description, technologies }, index) => (
            <SkillItem
                img={img}
                name={name}
                description={description}
                technologies={technologies}
            />
        ))
    }
</div>
