---
import Navbar from '@components/Navbar.astro'
import Footer from '@components/Footer.astro'

interface Props {
    title: string
    descripcion: string
}

const { title, descripcion } = Astro.props
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={descripcion} />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="src/assets/images/alphatech.webp"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div
            class="absolute inset-0 -z-10 w-full bg-white
            [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]
            h-screen sm:h-screen md:h-screen lg:h-screen"
        >
        </div>
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
<style is:global>
    :root {
        color-scheme: light;
    }
    html {
        font-family: 'Poppins', sans-serif;
        scroll-behavior: smooth;
    }

    body {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
</style>
