---
import Navbar from '@components/Navbar.astro'
import Footer from '@components/Footer.astro'
---

<header class="w-full h-[100px]">
    <Navbar />
</header>
<main class="">
    <slot />
</main>
<footer>
    <Footer />
</footer>
