---
import Navbar from '@components/Navbar.astro'
import Footer from '@components/Footer.astro'
---

<header class="w-full h-[12vh]">
    <Navbar />
</header>
<main class="flex justify-center items-center h-[88vh] bg-gray-600">
    <slot />
</main>
<footer class="flex justify-center items-center h-[500px]">
    <Footer />
</footer>
